<header>
  <div class="navbar">
    <div class="navbar-header">
        <div class="navbar-title">
          <img src="assets/images/RegioMechelenTurnhout.png">
        </div>
    </div>
    <div class="navbar-btn">
        <label for="navbar-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <input type="checkbox" id="navbar-check">
    <div class="navbar-links">
        <a>Onkosten</a>
        <a>Open Plaatsen</a>
        <a>VV GPS</a>
        <a>Agenda</a>
        <a>Google Drive</a>
    </div>
</div>
</header>

<body>
  <p>Under construction</p>
  <div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col">2</div>
</div>
</body>

<footer>
</footer>
