<header>
  <div class="navbar">
    <div class="navbar-header">
      <div class="navbar-title">
        <img src="assets/images/RegioMechelenTurnhout.png">
      </div>
    </div>
    <div class="navbar-btn">
      <label for="navbar-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="navbar-check">
    <div class="navbar-links">
      <a>ONKOSTEN</a>
      <a>OPEN PLAATSEN</a>
      <a>VV GPS</a>
      <a>AGENDA</a>
      <a>GOOGLE DRIVE</a>
    </div>
  </div>
</header>

<body>
  <div class="p-grid">
    <div class="p-col">
      <div class="left-column">
        <div class="newscard">
          <p-card>
            <h1>Welkom op de nieuwe vrijwilligerswebsite</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nesciunt cupiditate dolorum quibusdam
              veritatis pariatur? Eaque magni consectetur illum debitis ducimus possimus, praesentium quasi neque
              delectus
              dolor, tempora at magnam libero unde. Nisi excepturi cumque veritatis necessitatibus laborum, dolorum
              corrupti, quos error alias maiores consequatur, molestiae quasi molestias possimus quam.</p>
            <p-footer>
              <button pButton type="button" label="Ga naar ..."></button>
            </p-footer>
          </p-card>
        </div>
        <div class="newscard">
          <p-card>
            <h1>Nog meer nieuws</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero qui odio temporibus eaque earum
              consequatur iusto nostrum maiores incidunt optio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptate fuga excepturi cum! Quis
              repudiandae, ut veritatis ad quas optio magni sit eveniet placeat sed alias cumque itaque laboriosam vero
              beatae accusamus? Debitis, voluptate!</p>
          </p-card>
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="right-column">
        <p-card>
          <div class="p-grid">
            <div class="p-col-1">          
              <div class="beThere">
              <p>!</p>
            </div>
          </div>
            <div class="p-col-11 beThere-header"><h1>BE THERE!</h1></div>
            <div>
              <ul id="events-upcoming">
              </ul>
            </div>
            <div>
              <ul id="events-past">
              </ul>
            </div>
        </div>
        </p-card>
      </div>
    </div>
  </div>
</body>

<footer>
</footer>
