<div class="indexLayout">
  <div class="p-grid">
    <div class="p-col">
      <div class="left-column">
        <div class="newscard">
          <p-card>
            <h1>Welkom op de nieuwe vrijwilligerswebsite</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nesciunt cupiditate dolorum quibusdam
              veritatis pariatur? Eaque magni consectetur illum debitis ducimus possimus, praesentium quasi neque
              delectus
              dolor, tempora at magnam libero unde. Nisi excepturi cumque veritatis necessitatibus laborum, dolorum
              corrupti, quos error alias maiores consequatur, molestiae quasi molestias possimus quam.</p>
          </p-card>
        </div>
        <div class="newscard">
          <p-card>
            <h1>Digitale Oscars!</h1>
            <p>We kennen allemaal wel dat gevoel: je bent op vakantie en het is tijd voor de coaching. Maar waar liggen nu in hemelsnaam die Oscars ook alweer? Of ben je benieuwd naar welke competenties een VV, zinspeler, instructeur, ... nu eigenlijk gecoached worden? Zoek niet verder! Bespaar jezelf en kazou die extra papieren en neem gewoon hier op onze site een kijkje naar de digitale oscars.</p>
            <p>Wil je de oscars bekijken van alle verschillende vakantieprofielen? Neem dan snel een kijkje op de onderstaande link!</p>
            <p-footer>
              <button pButton class="indexbutton" type="button" label="Ga naar Oscars" [routerLink]="['/oscars']"></button>
            </p-footer>
          </p-card>
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="right-column">
        <p-card>
          <button class="refreshButton" onClick="window.location.reload();"><i class="pi pi-replay"></i></button>
          <div class="p-grid">
            <div class="fullBeThereHeader">
              <div class="p-col-1">
                <div class="beThere">
                  <p>!</p>
                </div>
              </div>
              <div class="p-col-11 beThere-header">
                <h1>BE THERE!</h1>
              </div>
            </div>
            <div class="events">
              <div>
                <ul id="events-upcoming">
                </ul>
              </div>
              <div>
                <ul id="events-past">
                </ul>
              </div>
            </div>

          </div>
          <button class="indexbutton" pButton type="button" label="Agenda synchroniseren"></button>
        </p-card>
      </div>
    </div>
  </div>
</div>
