.indexLayout {
    width: 100%;
    background-size: cover;
    background-image: url(https://kazoustorageprod.blob.core.windows.net/mwportal/1026/bannerthemapagina_zomer.jpg);
    padding: 50px 30px 30px 30px;
}

.events {
    margin-bottom: 20px;
}

.newscard:not(:first-child) {
    margin-top: 20px;
}

.beThere {
    width: 60px;
    height: 60px;
    background-color: #70b010;
    border-radius: 90% 90% 0 90%;
    display: table;
    text-align: center;
}

.beThere p{
    display: table-cell;
vertical-align: middle;
font-size: 40px;
color: #ffffff;
font-weight: 800;
font-family: 'Montserrat', sans-serif;
}

.beThere-header {
    padding-left: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;

}

.indexbutton {
    background-color: #70b010;
    border-color: #70b010;
}

.fullBeThereHeader{
    display: table;
}

.refreshButton {
    background-color: #70b010;
    color: #ffffff;
    border-width: 0;
    border-radius: 90px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    font-size: 20px;
    float: right;
}

 /* Smartphone layout */
 @media (max-width: 480px) {

}

@media(max-width: 750px) {
    .calendarbutton {
        margin-top: 10px;
    }
}

 /* Laptop layout */
@media(min-width: 751px) {

.left-column {
    padding-right: 20px;
}

.right-column {
    padding-left: 20px;
}

.calendarbutton {
    margin-top: 20px;
}

.beThere {
    width: 80px;
    height: 80px;
}

.beThere p {
    font-size: 55px;
}

.beThere-header{
    font-size: 20px;
}

.refreshButton:hover {
    -webkit-transform: rotate(220deg); /* Safari and Chrome */
    -moz-transform: rotate(220deg);   /* Firefox */
    -ms-transform: rotate(220deg);   /* IE 9 */
    -o-transform: rotate(220deg);   /* Opera */
    transform: rotate(220deg);
    transition-duration: 0.8s;
    background-color: #70b010c2;
    color: #333333;
} 

.indexbutton:hover {
    background-color: #70b010c2 !important;
    color: #333333 !important;
    border-color: #70b010c2 !important;
}

}

 /* XL screen layout */
@media(min-width: 1200px) {

}