.calendarLayout {
  width: 100%;
  padding: 50px 30px 30px 30px;
  min-height: 80vh;
  background-size: cover;
  background-image: url(https://kazoustorageprod.blob.core.windows.net/mwportal/1026/bannerthemapagina_zomer.jpg);
}

.calendarbutton {
  background-color: #70b010;
  border-color: #70b010;
}

  .title {
    padding-bottom: 25px;
}

.responsivecal {
  position: relative; padding-bottom: 40vh; height: 0; overflow: hidden;
}

.responsivecal iframe {
 
  position: absolute; top:0; left: 0; width: 100%; height:90%;
   
  }

@media(min-width: 425px) {


      .responsivecal {
        position: relative; height: 0; overflow: hidden;
      }
      
      .responsivecal iframe {
       
        position: absolute; top:0; left: 0; min-width: 380px; height: 100%;
         
        }
  }

  @media(min-width: 600px) {
      .responsivecal {
        position: relative; height: 0; overflow: hidden;
      }
      
      .responsivecal iframe {
       
        position: absolute; top:0; left: 0; min-width: 570px; height: 100%;
         
        }

    .calendarbutton:hover {
        background-color: #70b010c2 !important;
        color: #333333 !important;
        border-color: #70b010c2 !important;
    }
  }

  @media(min-width: 750px) {
    .calendar {
      width: 710px;
    }
  }

  @media(min-width: 820px) {
    .calendar {
      width: 790px;
    }
  }

@media(min-width: 900px) {
  .calendar {
    width: 800px;
  }
}
