<div class="oscarLayout">
  <div class="title">
    <h1>Oscars</h1>
    <p>
      Op zoek naar alle competenties van de verschillende vakantieprofielen? Zoek niet verder; hier staan ze allemaal!
    </p>
  </div>
  <p-tabView>
    <p-tabPanel header="Moni">
      <h2>Deze competenties scherp je aan terwijl je moni bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Afspraken maken en nakomen">
          <p>
            Samen met de moniploeg (monitoren & VV) maak je afspraken over het verloop van de
            voorbereiding en de vakantie. Je houdt rekening met de gemaakte afspraken en de gevolgen
            hiervan. Op de vakantie kennen de deelnemers de afspraken en je zorgt er mee voor dat alle
            deelnemers deze afspraken naleven. Je bent je bewust van je voorbeeldfunctie naar
            deelnemers toe.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Initiatief nemen">
          <p>
            Tijdens de voorbereiding van de vakantie (voorbereiding van activiteiten en de
            verantwoordelijkheid van de uitwerking) en op vakantie zelf (voorbereide activiteiten in
            goede banen leiden, dode momenten opvullen, flexibiliteit bij programmawijzigingen) wacht
            je niet af tot anderen iets doen. Je neemt spontaan taken op.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je werkt op een constructieve manier (met medemonitoren, VV, TP, zinspeler, ...) actief mee
            aan een geslaagde vakantie, zowel tijdens de voorbereiding als op de vakantie. Hierbij
            bewaar je het evenwicht tussen je eigen inbreng en kansen geven aan anderen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een activiteit voorbereiden">
          <p>
            Je maakt aan de hand van een voorbereidingsstructuur een creatieve activiteit met oog voor
            inkleding, spelopbouw, speluitleg, doelgroep en het nodige materiaal. Je houdt rekening met
            het volledige vakantieprogramma en zinspelende momenten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een groep begeleiden">
          <p>
            Je stuurt een kleine groep deelnemers aan en neemt het voortouw doorheen de hele
            vakantie, met oog voor alle deelnemers van jouw groepje. Tijdens activiteiten met de
            volledige groep heb je oog voor alle deelnemers.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Anderen vermaken">
          <p>
            Je animeert een grote of kleine groep deelnemers doorheen het volledige dagprogramma:
            thema, dagopening, tijdens grote activiteiten of dode momenten. Op vakanties stimuleer en
            motiveer je deelnemers (en moni’s) om actief de vakantie te beleven.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een veilige omgeving creëren">
          <p>
            Je houdt rekening met situaties en locaties waarin je je met deelnemers bevindt, zodat de
            veiligheid telkens gegarandeerd wordt. Je kan de nodige EHBO toepassen en inschatten
            wanneer dit nodig is. Je besteedt de nodige aandacht aan het welbevinden van alle
            deelnemers.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een activiteit uitvoeren">
          <p>
            Op vakantie zorg je dat het nodige materiaal tijdig klaarstaat en geef je de deelnemers een
            duidelijke speluitleg zodat de activiteit vlot verloopt. Je activiteit draagt mee aan het
            vakantiegevoel. Na het spel besteed je de nodige aandacht aan opruimen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Ideeën, meningen, informatie enz. breng je op een heldere en begrijpelijke manier over,
            zowel mondeling als schriftelijk. Zelf toon je interesse in het verhaal van anderen. Je hebt
            aandacht voor lichaamstaal bij de ander én bij jezelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven & ontvangen">
          <p>
            Je reflecteert kritisch over je eigen functioneren als monitor(sterke punten, groeipunten). Je
            aanvaardt zowel positieve als kritische meningen over je eigen gedrag en gaat ermee aan de
            slag. Je geeft ook anderen opbouwende feedback.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Gepro (gezondheidspromotie)">
          <p>
            Je hebt oog voor de persoonlijke hygiëne van de deelnemers en de leefruimte. Je begeleidt hen hierbij waar
            nodig. Stimuleer de deelnemers om gezond en gevarieerd te eten.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Hoofdmoni">
      <h2>Deze competenties scherp je aan terwijl je hoofdmoni bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Een team bouwen">
          <p>
            Je bouwt aan een hecht team door samen met je moni's te werken aan een toffe
            groepssfeer doorheen de voorbereiding en je vakantie.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een vergadering voorzitten">
          <p>
            Zowel in de voorbereidende vergaderingen als tijdens de overlegmomenten op vakantie zorg
            je voor een gestructureerde vergadering. Je kan discussies samenvatten, besluiten nemen,
            de timing respecteren en geeft iedereen de kans om zijn/haar eigen mening te uiten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Besluiten nemen">
          <p>
            Als er een beslissing moet genomen worden, hou je rekening met verschillende invalshoeken
            en neem je op basis hiervan een besluit.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Initiatief nemen">
          <p>
            Je stelt uit eigen beweging ideeën of acties voor en stuurt de moniploeg aan om dit ook te
            doen. Zowel in de voorbereiding als tijdens de vakantie geef je extra impulsen, indien nodig.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Verantwoordelijkheid nemen">
          <p>
            Je zorgt ervoor dat alles goed verloopt, zowel de verwachte taken vanuit Kazou, als wat je
            zelf hebt afgesproken. Je houdt rekening met de gevolgen van je gedrag en de gemaakte
            afspraken. Als VV geef je binnen je moniploeg aan wat de grenzen zijn.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Praktisch organiseren">
          <p>
            Je overlegt met verschillende partijen (moni, TP, centrumuitbater, buschauffeur, ...) wie wat
            doet, op welke manier en binnen welke tijdsperiode. Je verzamelt de voor de vakantie
            noodzakelijke administratieve gegevens, verwerkt ze en geeft ze goed door. Je benadrukt
            dat het materiaal correct gebruikt moet worden en geeft zelf het goede voorbeeld. Je houdt
            rekening met de interesse en competenties van elke moni uit je team om taken en
            verantwoordelijkheden goed door te geven.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Contactpersoon">
          <p>
            Je bent de contactpersoon voor het Kazou team en de moniploeg. Je zorgt voor een vlotte
            communicatie tussen alle betrokken partijen in de voorbereiding en op vakantie. We denken
            hierbij aan contact met de centrumuitbater, externe organisaties, VV’s van andere
            verbonden, ... Jij bent de juiste persoon om je moniploeg uitleg te geven over de jaarwerking
            en hen aan te moedigen om vrijblijvend een engagement in deze werking op te nemen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Inspelen op veranderingen">
          <p>
            Je reageert op een gepaste manier als er onverwachts iets verandert tijdens de
            voorbereiding of op vakantie. Met de glimlach pas je je voorbereiding aan aan externe
            omstandigheden die je niet zelf in de hand hebt (bus te laat, regenbui, zieke moni...)
          </p>
        </p-accordionTab>
        <p-accordionTab header="Omgaan met probleemsituaties">
          <p>
            Bij problemen of conflicten tijdens de voorbereiding of op vakantie, reageer je op een
            oplossingsgerichte manier. Je houdt rekening met ieders mening en houdt het hoofd koel.
            Zowel materiële als organisatorische problemen pak je aan, net als conflicten tussen
            deelnemers of moni’s.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je betrekt alle moni’s bij de voorbereiding. Voor en tijdens de vakantie maak je samen
            afspraken over de aanpak van praktische zaken en het organiseren van de vakantie. Je bent
            als VV actief betrokken bij het hele vakantiegebeuren en besteedt voldoende tijd en
            aandacht aan je persoonlijke omgang met de deelnemers.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Ideeën, meningen, informatie enz. breng je op een heldere en begrijpelijke manier over,
            zowel mondeling als schriftelijk. Zelf toon je interesse in het verhaal van anderen. Je hebt
            aandacht voor lichaamstaal bij de ander én bij jezelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven en ontvangen">
          <p>
            Je benoemt duidelijk en tactvol de sterktes en groeipunten van je monitoren doorheen de
            voorbereiding en tijdens de vakantie. Je staat zelf ook open voor feedback uit de groep en
            houdt hier rekening mee. Je denkt na over hoe je nog een betere VV kan worden, rekening
            houdend met je eigen sterktes, groeipunten en de waarden die jij belangrijk vindt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Coachen">
          <p>
            Je stimuleert, motiveert en begeleidt de monitoren in hun taak, maar ook in hun persoonlijk
            functioneren. Je bent enthousiast en straalt dit uit naar je monitoren. Je achterhaalt waarin
            moni’s nog kunnen groeien en motiveert hen om specifieke vorming te volgen, zowel binnen
            als buiten Kazou.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Groepsbegeleider">
      <h2>Deze competenties scherp je aan terwijl je groepsbegeleider bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Een team bouwen">
          <p>
            Je bouwt aan een hecht team door samen met hen te werken aan een toffe groepssfeer
            doorheen de voorbereiding en tijdens de vakantie.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Afspraken maken en nakomen">
          <p>
            Samen met de monitorenploeg (monitoren & VV) maak je afspraken over het verloop van de
            voorbereiding en de vakantie. Je houdt rekening met de gemaakte afspraken en de gevolgen
            hiervan. Op de vakantie kennen de deelnemers de afspraken en je zorgt er mee voor dat alle
            deelnemers deze afspraken naleven. Je bent je bewust van je voorbeeldfunctie naar
            deelnemers toe.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Initiatief nemen">
          <p>
            Tijdens de voorbereiding van de vakantie en op vakantie zelf (voorbereide activiteiten in
            goede banen leiden, dode momenten opvullen, flexibiliteit bij programmawijzigingen) wacht
            je niet af tot anderen iets doen. Je stelt uit eigen beweging ideeën of acties voor en stuurt de
            moniploeg aan om dit ook te doen. Zowel in de voorbereiding als tijdens de vakantie geef je
            extra impulsen, indien nodig.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je werkt op een constructieve manier (met medemonitoren, VV, TP, zinspeler, ...) actief mee
            aan een geslaagde vakantie, zowel tijdens de voorbereiding als op de vakantie zelf. Hierbij
            bewaar je het evenwicht tussen je eigen inbreng en kansen geven aan anderen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Verantwoordelijkheid nemen">
          <p>
            Je zorgt ervoor dat alles goed verloopt, zowel de verwachte taken vanuit Kazou, als wat je
            zelf hebt afgesproken. Je houdt rekening met de gevolgen van je gedrag en de gemaakte
            afspraken.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Anderen vermaken">
          <p>
            Je animeert een grote of kleine groep deelnemers doorheen het volledige dagprogramma:
            thema, dagopening, tijdens grote activiteiten of dode momenten. Op vakanties stimuleer en
            motiveer je deelnemers en moni’s om actief de vakantie te beleven.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Inspelen op veranderingen">
          <p>
            Je reageert op een gepaste manier als er onverwachts iets verandert tijdens de
            voorbereiding of op vakantie. Met de glimlach pas je je voorbereiding aan aan externe
            omstandigheden die je niet zelf in de hand hebt (bus te laat, regenbui, zieke moni...)
          </p>
        </p-accordionTab>
        <p-accordionTab header="Omgaan met probleemsituaties">
          <p>
            Bij problemen of conflicten tijdens de voorbereiding of op vakantie, reageer je op een
            oplossingsgerichte manier. Je houdt rekening met ieders mening en houdt het hoofd koel.
            Zowel materiële als organisatorische problemen pak je aan, net als conflicten tussen
            deelnemers of moni’s.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Ideeën, meningen, informatie enz. breng je op een heldere en begrijpelijke manier over,
            zowel mondeling als schriftelijk. Zelf toon je interesse in het verhaal van anderen. Je hebt
            aandacht voor lichaamstaal bij de ander én bij jezelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven en ontvangen">
          <p>
            Je benoemt duidelijk en tactvol de sterktes en groeipunten van je monitoren doorheen de
            voorbereiding en de vakantie zelf. Je staat zelf ook open voor feedback uit de groep en
            houdt hier rekening mee. Je denkt na over hoe je nog een betere GB kan worden, rekening
            houdend met je eigen sterktes, groeipunten en de waarden die jij belangrijk vindt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Coachen">
          <p>
            Je stimuleert, motiveert en begeleidt de monitoren in hun taak, maar ook in hun persoonlijk
            functioneren. Je bent enthousiast en straalt dit uit naar het team. Je achterhaalt waarin
            moni’s nog kunnen groeien en motiveert hen om specifieke vorming te volgen, zowel binnen
            als buiten Kazou.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Zinspeler">
      <h2>Deze competenties scherp je aan terwijl je zinspeler bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Initiatief nemen">
          <p>
            Je neemt zelf het voortouw om medemoni's en deelnemers te ondersteunen en aan te
            moedigen. Je stelt zelf voor om een aantal taken op te nemen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Anderen motiveren">
          <p>
            Je maakt samen met de VV de monitoren warm voor de vakantie. Je stimuleert hun inbreng
            en lokt enthousiasme en 'vakantiegoesting' uit. Hierbij ben je je steeds bewust van je
            voorbeeldfunctie, zowel naar monitoren als naar vakantiegangers toe.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Betrokkenheid stimuleren">
          <p>
            Je zorgt ervoor dat het zinspelende door de hele moniploeg gedragen wordt. Je doet dit door
            heel wat zaken met hen af te spreken. Je stimuleert hen dan ook om hun steentje bij te
            dragen. Hiermee wil je ook bouwen aan het groepsdynamisch proces op vakantie.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Conflicten hanteren">
          <p>
            Je probeert in conflicten een rustgevende en neutrale factor te zijn. Je hebt hierbij oog voor
            ieders eigenheid en de tegenstrijdige belangen tussen mensen. Je probeert mogelijke
            conflicten niet te laten escaleren, maar zoekt mee naar oplossingen die voor iedereen
            aanvaardbaar zijn.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Relativeren">
          <p>
            Je schat situaties goed in en plaatst die in hun juiste context. Door zelf kalm te blijven in
            conflictsituaties neem je een rustgevende en neutrale rol op in de moniploeg.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Empathisch handelen">
          <p>
            Je stelt je begripvol en geduldig op ten opzichte van anderen en probeert je zoveel mogelijk
            in hun standpunt in te leven. Je houdt voldoende emotioneel afstand, waardoor je met een
            heldere blik alle standpunten kan bekijken. Zowel voor monitoren als vakantiegangers
            fungeer je als vertrouwenspersoon.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Activiteiten voorbereiden en uitvoeren">
          <p>
            Je maakt creatieve en originele zinspelende activiteiten en neemt op een actieve manier
            deel aan de vakantie. Je hebt aandacht voor kleine momentjes tussendoor en voor grotere
            groepsmomenten. Op vakantie zorg je dat het nodige materiaal tijdig klaarstaat en dat dit
            nadien weer opgeruimd wordt. Je slaagt er in om op een gepaste manier een groep toe te
            spreken zodat de groep begrijpt wat je bedoelt en je rust brengt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een veilige mentale omgeving creëren">
          <p>
            Je helpt de ruimte scheppen en een groepssfeer creëren waarbinnen de deelnemers en
            medemoni's zich goed en aanvaard voelen zodat ze zichzelf kunnen zijn.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Je brengt op een begrijpelijke manier zaken over naar monitoren en vakantiegangers.
            Daarnaast sta je open voor de signalen van anderen, verbaal en non-verbaal.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven en ontvangen">
          <p>
            Je reflecteert kritisch over je eigen functioneren als zinspeler (sterke punten, groeipunten).
            Je aanvaardt zowel positieve als kritische meningen over je eigen gedrag en gaat ermee aan
            de slag. Je geeft ook anderen opbouwende feedback.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Oog en oor hebben voor de waarden van Kazou">
          <p>
            De opdracht van iedere moni is om de waarden van Kazou in de praktijk te brengen.
            De zinspeler echter heeft als speciale opdracht om deze waarden mee in het vizier te
            houden: groepsverbondenheid, aandacht voor iedere jongere met speciale aandacht voor
            diegenen die op één of andere manier buiten de groep vallen, aandacht voor het innerlijke
            leven van het kind of de jongere (vb. verdriet, spanning, ....), opdracht voor het omgaan met
            materiaal en natuur, ...
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Technische Ploeg (TP)">
      <h2>Deze competenties scherp je aan terwijl je TP bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Initiatief nemen">
          <p>
            Je stelt zelf voor om een aantal taken op te nemen. Je steekt zelf de handen uit de mouwen
            zonder af te wachten of anderen actie ondernemen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je werkt op een constructieve manier met de technische ploeg en VV aan een geslaagde
            vakantie voor de deelnemers, zowel tijdens de voorbereiding als op vakantie zelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Planmatig werken">
          <p>
            Je bespreekt tijdens de voorbereiding van de vakantie samen met de VV welke acties nodig
            zijn om er een goed georganiseerde vakantie van te maken. Een vakantieprogramma met
            menu, boodschappenlijsten en een begroting zijn hiervoor nodig. Daarnaast verzamel je
            informatie rond speciale diëten/allergiën, waarmee je op vakantie rekening zal moeten
            houden.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Efficiënt werken">
          <p>
            Je schat tijd en middelen goed in bij het uitvoeren van je taken zodat er met een minimum
            aan tijd en materiaal toch een maximaal resultaat komt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Budgetten beheren">
          <p>
            Je zorgt voor een correcte opvolging en uitgave van het beschikbare budget door een
            nauwkeurige inschatting tijdens de voorbereiding en op vakantie zelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Materiaal beheren">
          <p>
            Je vraagt het nodige (keuken)materiaal aan, verzamelt het en draagt er op vakantie zorg
            voor. Je maakt afspraken voor het correct gebruik van het materiaal en volgt dit op. Na de
            vakantie breng je het materiaal geordend en verzorgd terug naar Kazou. Je doet
            boodschappen en andere aankopen en zorgt voor een goede en hygiënische stockage (zowel
            tijdens als na de vakantie).
          </p>
        </p-accordionTab>
        <p-accordionTab header="Logistieke ondersteuning bieden">
          <p>
            Je zorgt ervoor dat een zaal, keuken of refter gebruiksklaar is voor een maaltijd of een
            andere activiteit. Je springt bij in de ondersteuning van de VV en monitorenploeg door
            doktersbezoeken, apotheekboodschappen, ... op jou te nemen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Voor een groep koken">
          <p>
            Je maakt de maaltijden klaar voor een (grote) groep en houdt rekening met volgende
            kenmerken: lekker, volgens tijdsplan, gezond en volgens de normen van hygiëne en
            voedselveiligheid.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Hygiëne">
          <p>
            De keuken, het sanitair, de bar en de refter poetsen en er voor zorgen dat het overal proper
            is. De TP-ploeg bedenkt hiervoor een systeem.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Profilering vakantie / Cursus">
          <p>
            Schrijf hieronder de verwachtingen die betrekking hebben op de profilering van de vakantie
            of de cursus. Bijvoorbeeld voor een kookvakantie: op een animatieve manier samen koken
            met de deelnemers.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Instructeur">
      <h2>Deze competenties scherp je aan terwijl je instructeur bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Leercontexten opzetten">
          <p>
            Je creëert een ruimte/omgeving/sfeer waarin cursisten zich goed, aanvaard en gestimuleerd
            voelen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Initiatief nemen">
          <p>
            Je stelt uit eigen beweging ideeën voor, speelt in op de noden van cursisten, ... zonder af te
            wachten tot anderen actie ondernemen. Dit kan zowel tijdens de voorbereiding van de
            cursus met je mede-instructeurs, als tijdens de cursus ten opzichte van je cursisten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Anderen motiveren">
          <p>
            Je motiveert en enthousiasmeert cursisten om na te denken over de inhoud van de cursus
            en hoe ze hier in de Kazou-wereld mee aan de slag kunnen. Je dompelt cursisten onder in de
            typische Kazou-sfeer en geeft hen ‘goesting’ in Kazou.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een groep begeleiden">
          <p>
            Je hebt oog voor het proces dat jij samen met je groep doormaakt en probeert hier gepast
            op te reageren en op in te spelen. Je hebt oog voor de noden van je groep en de individuele
            groepsleden.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Verantwoordelijkheid nemen">
          <p>
            Je zorgt ervoor dat alle taken die van je verwacht worden tijdig en correct uitgevoerd
            worden en dat je op een respectvolle manier omspringt met materiaal. Ook ten opzichte van
            je cursisten neem je de verantwoordelijkheid en zorg je dat ze op de hoogte zijn van de
            gemaakte afspraken. Hierbij blijf je je steeds bewust van je voorbeeldfunctie naar cursisten
            toe.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je werkt samen met cursisten en mede-instructeurs aan een gemeenschappelijk doel. Je zet
            samen de lijnen uit van een cursus ( SOC ) en dit met respect voor ieders mening.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Cursus geven op maat (SOC)">
          <p>
            Je haalt uit de informatie (vragen, verhalen, signalen, ...) die je van de cursisten krijgt, welke
            noden er nog zijn voor de groep en je kan deze kaderen binnen de algemene doelstellingen
            van de vorming.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Plannen">
          <p>
            Je verdeelt samen met je mede-instructeur en de cursisten de inhoud van de cursus over de
            cursusperiode zodat er voldoende uitdaging en afwisseling is, voor de cursisten. Je bekijkt
            dag per dag of je voldoende tijd had voor de geplande inhouden en of je nog ergens moet
            bijsturen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een vormingsinhoud uitwerken">
          <p>
            Je bepaalt aan de hand van doelstellingen en/of vragen van cursisten de inhoud van een
            vorming. Je werkt deze inhoud uit aan de hand van gepaste methodieken met daarin
            aandacht voor je doelgroep.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een vorming geven">
          <p>
            Je brengt informatie en inhouden op een begrijpelijke en duidelijke manier over aan een
            groep cursisten, rekening houdend met de leefwereld en het niveau van de groep. Hierbij
            laat je voldoende ruimte voor interactie en het op een actieve manier eigen maken van de
            inzichten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Je brengt informatie en inhouden op een begrijpelijke en duidelijke manier over, zowel
            mondeling als schriftelijk. Zelf toon je interesse in het verhaal van anderen. Je hebt aandacht
            voor lichaamstaal bij de ander en bij jezelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Over zichzelf reflecteren">
          <p>
            Je kijkt als instructeur kritisch naar jezelf en vanuit deze zelfreflectie ga je groei- en
            werkpunten formuleren.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven & ontvangen">
          <p>
            Je staat open voor feedback die je van anderen krijgt ( de cursisten, mede-I’s, CUL ) en je zet
            deze feedback om in ‘actiepunten’. Je geeft doorlopend op een constructieve manier
            feedback: over het groeiproces van de cursisten (door middel van sterke punten en
            groeipunten), aan mede-instructeurs en cursusleiding, over de voorbereiding en het verloop
            van een vormingsmoment en het geheel van de cursus.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Coachen">
          <p>
            Je stimuleert en begeleidt de cursisten in hun leerproces, maar ook in hun persoonlijk
            functioneren. Je bent enthousiast en straalt dit uit naar je cursisten. Je bespreekt met hen
            waarin zij nog kunnen groeien en gaat samen met hen op zoek naar leerkansen en
            groeimogelijkheden tijdens de cursus en naar een eerste vakantie toe.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Basiscursist">
      <h2>Deze competenties scherp je aan terwijl je op basiscursus bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Respect voor afspraken en jezelf">
          <p>
            Je hebt respect voor gemaakte afspraken en leeft deze na. Je draagt zorg voor materiaal, het
            gebouw en het terrein en helpt spontaan mee opruimen.
            Je gunt jezelf en anderen voldoende nachtrust. Je doseert je energie, zodat je jezelf de hele
            cursus 100% inzet.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Inzet">
          <p>
            Je neemt deel aan alle activiteiten en levert hierin een actieve bijdrage.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Initiatief nemen">
          <p>
            Je brengt eigen ideeën aan en je wacht niet af tot iemand anders een taak op zich neemt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je gaat op een open en respectvolle manier om met iedereen die op cursus aanwezig is, met
            aandacht voor ieders eigenheid en beperkingen.
            Je bewaart het evenwicht tussen je eigen actieve inbreng en het geven van kansen aan
            anderen om hun bijdrage te leveren.
          </p>
        </p-accordionTab>
        <p-accordionTab header="In groep">
          <p>
            Je staat open voor andere meningen en hebt zelf een positieve inbreng in de groepssfeer.
            Het groepsgebeuren is voor jou belangrijker dan je persoonlijke behoeften.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Basiskennis">
          <p>
            Je beheerst de opgedane kennis van de basiscursus. Zowel de theorie uit de
            leefgroepblokken, als de theorie uit de workshops heb je onder de knie. Je kan deze theorie
            ook in de praktijk omzetten. Je begrijpt de visie van Kazou en je kan je hier achter zetten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Voorbereiding van activiteiten">
          <p>
            Je kan gestructureerd een duidelijke voorbereiding maken. Je weet wat er moet gebeuren en
            wie wat op zich zal nemen. Het materiaal dat je nodig hebt, is volledig en staat klaar voor de
            activiteit van start gaat. Je bedenkt een originele en creatieve activiteit met oog voor
            inkleding en aangepast aan de doelgroep.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Begeleiden van activiteiten">
          <p>
            Je begeleidt een originele ploegverdeling. Je geeft een duidelijke en volledige speluitleg
            (VITA VOSA OVA + TWISTER). Tijdens de activiteit heb je een actieve inbreng, een positieve
            houding ten aanzien van de groep en besteed je voldoende aandacht aan de veiligheid van
            iedereen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Ideeën, meningen, informatie enz. breng je op een heldere en begrijpelijke manier over,
            zowel mondeling als schriftelijk. Zelf toon je interesse in het verhaal van anderen. Je hebt
            aandacht voor lichaamstaal bij de ander én bij jezelf.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Omgaan met feedback en coaching">
          <p>
            Je reflecteert kritisch over je eigen functioneren als cursist (sterke punten, groeipunten). Je
            aanvaardt zowel positieve als kritische meningen over je eigen gedrag en stuurt op basis
            hiervan je gedrag bij. Je geeft ook anderen opbouwende feedback. Je kan zelf inschatten wat
            je groeipunten zijn en gaat actief op zoek naar kansen om daarin verder te groeien.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Cursusleiding">
      <h2>Deze competenties scherp je aan terwijl je cursusleid(st)er bent!</h2>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Een team bouwen">
          <p>
            Je bouwt aan een hecht team door samen met je instructeurs te werken aan een toffe groepssfeer
            doorheen de voorbereiding en je cursus. Je maakt samen met je mede-CUL de instructeurs warm
            voor de cursus. Je stimuleert hun inbreng en lokt enthousiasme uit zodat zij op hun beurt de
            cursisten weten te motiveren. Je hebt aandacht voor groepsbindende spelletjes en andere
            groepsbevorderende activiteiten voor de algemene groepsdynamica zowel binnen de
            instructeursploeg als bij de cursisten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Een vergadering voorzitten">
          <p>
            Zowel in de voorbereidende vergaderingen als tijdens de overlegmomenten op cursus zorg je voor
            een gestructureerde vergadering. Je kan discussies samenvatten, besluiten nemen, de timing
            respecteren en je geeft iedereen de kans om zijn/haar eigen mening te uiten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Besluiten nemen">
          <p>
            Als er een beslissing moet genomen worden, hou je rekening met verschillende invalshoeken en
            neem je op basis hiervan een besluit. Je hebt hierbij oog voor de mening van iedereen en kan
            compromissen sluiten waar nodig.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Delegeren">
          <p>
            Je slaagt er in een goed evenwicht te vinden in de taken die je als CUL zelf opneemt en de taken
            waar je je instructeursploeg de verantwoordelijkheid in geeft om dit tot een goed einde te
            brengen. Ook op cursus zelf maak je dit onderscheid en heb je oog voor de draagkracht van je
            ploeg.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Verantwoordelijkheid nemen">
          <p>
            Je zorgt ervoor dat alles goed verloopt zowel voor, tijdens als na de cursus. Je pakt het geheel
            gestructureerd aan. Je houdt rekening met de gevolgen van je gedrag en de gemaakte afspraken.
            Je bent je bewust van je voorbeeldfunctie naar instructeurs en cursisten toe. Je bent bereikbaar en
            toegankelijk voor je instructeurs en zorgt ervoor dat ze op jou kunnen rekenen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Proactief werken & plannen">
          <p>
            Je werkt samen met de instructeurs de voorbereiding zo goed mogelijk uit. Je verdeelt samen met
            je instructeursploeg de inhoud van de cursus over de cursusperiode zodat er voldoende uitdaging
            en afwisseling is voor de cursisten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Inspelen op veranderingen">
          <p>
            Je reageert op een gepaste manier als er onverwachts iets verandert tijdens de voorbereiding of
            op cursus. Je kan je voorbereiding aanpassen aan omstandigheden die je niet zelf in de hand hebt.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Samenwerken">
          <p>
            Je bent als CUL actief betrokken bij het hele cursusgebeuren. Je betrekt alle instructeurs bij de
            voorbereiding. Voor en tijdens de cursus maak je samen afspraken over praktische en inhoudelijke
            aspecten van de cursus. Je bent verantwoordelijk voor het vormingskader (inhoud van de cursus
            en praktische afspraken) en gaat hiervoor actief op zoek naar input van je instructeurs.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Vormingsnoden detecteren">
          <p>
            Je hebt een goed overzicht op de cursusbundel en eventuele extra inhouden. Je gebruikt deze
            kennis als achtergrond in het begeleiden van je instructeurs. Je kan hen op basis hiervan helpen in
            het zoeken naar een gepast antwoord op inhoudelijke vragen van de cursisten. Je kan nieuwe
            inhouden en methodieken samen met je instructeurs in een vormingsblok verwerken.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Open communiceren">
          <p>
            Ideeën, meningen, informatie enz. breng je op een heldere en begrijpelijke manier over, zowel
            mondeling als schriftelijk. Je toont interesse in het verhaal van anderen en hebt doorheen dit alles
            aandacht voor je eigen lichaamstaal en het effect daarvan op anderen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Over zichzelf reflecteren">
          <p>
            Je kijkt als cursusleiding kritisch naar jezelf en vanuit deze zelfreflectie ga je in gesprek met je
            instructeurs. Je kan op basis van die zelfreflectie je eigen functioneren aanpassen.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Feedback geven & ontvangen">
          <p>
            Binnen een coachingskader benoem je duidelijk en tactvol de sterktes en groeipunten van je
            instructeurs. Je staat zelf ook open voor feedback uit de groep en houdt hier rekening mee. Je
            denkt na over hoe je als CUL nog kan groeien, rekening houdend met je eigen sterktes,
            groeipunten en de waarden die jij belangrijk vindt. Je speelt noodzakelijke info door in functie van
            de opvolging van cursisten.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Coachen">
          <p>
            Je stimuleert, motiveert en begeleidt de instructeurs in het geven van vorming en in hun
            persoonlijk functioneren. Je laat je instructeurs nadenken over zichzelf door goede en gepaste
            vragen te stellen en voldoende tijd te maken voor dit proces. Dit zorgt ervoor dat je instructeurs
            zelf hun groeiproces in handen nemen en zichzelf kunnen ontplooien.
          </p>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
  </p-tabView>
  <div class="disclaimer">
      <p>Zie je een fout? Moet er iets aangepast worden?</p>
      <p>Mail dan naar <a href="mailto:vrijwilligers.rmt@kazou.be">vrijwilligers.rmt@kazou.be</a></p>
  </div>
</div>
