.oscarLayout {
    width: 100%;
    padding: 50px 30px 30px 30px;
    min-height: 80vh;
}

.ui-tabview-selected {
    background-color: #70b010 !important;
    border-color: #70b010 !important;
    outline:0 !important;
    -webkit-box-shadow: 0 0 0 0!important;
	-moz-box-shadow: 0 0 0 0!important;
	box-shadow: 0 0 0 0!important;

}

.ui-tabview-selected:hover {
    background-color: #70b010 !important;
    border-color: #70b010 !important;
    outline:0 !important;
    -webkit-box-shadow: 0 0 0 0!important;
	-moz-box-shadow: 0 0 0 0!important;
	box-shadow: 0 0 0 0!important;

}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a, body .ui-accordion .ui-accordion-header a:focus{
    background-color: #70b010 !important;
    border-color: #70b010 !important;
    outline:0 !important;
    -webkit-box-shadow: 0 0 0 0!important;
	-moz-box-shadow: 0 0 0 0!important;
	box-shadow: 0 0 0 0!important;
}

.title {
    padding-bottom: 25px;
}

.disclaimer {
    padding-top: 20px;
}